<p id="notice"><%= notice %></p>

<h1>Listing Todo Items</h1>

<table>
  <thead>
    <tr>
      <th>Due date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.due_date %></td>
        <td><%= todo_item.title %></td>
        <td><%= todo_item.description %></td>
        <td><%= todo_item.completed %></td>
        <td><%= link_to 'Show', todo_item %></td>
        <!-- <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td> -->
        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <tr><td> <br> </td></tr>

    <tr>
     <td> Number of Completed Todos: <%= TodoItem.count_completed_items %> </td>
    </tr>



  </tbody>
</table>

<br>

<%= link_to 'New Todo item', new_todo_item_path %>
